<% content_for :title, "History | It's okay to be weird" %>
<% content_for :head do %>
  <meta property="og:title" content="History - It's okay to be weird">
  <meta property="og:description" content="My journey from high school dropout and hikikomori to software engineer. Began programming at 26, started career at 30.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.original_url %>">
<% end %>

<h2>History</h2>

<%
  content = <<~MARKDOWN
    ### 1985-2002 Birth to High School Dropout

    - Born in Fukuoka City, Fukuoka Prefecture (July 3, 1985)
    - Dropped out of high school in first year (March 2002)

    ### 2002-2011 Hikikomori Period

    - Spent years as a hikikomori playing overseas video games in English (2002-2010)
    - Enrolled in correspondence high school, then passed high school equivalency exam (October 2011)

    ### 2012-2015 Information Technology College

    - Enrolled in an information technology college in Fukuoka City (April 2012)
    - Obtained certifications: Fundamental Information Technology Engineer, Applied Information Technology Engineer, Information Security Specialist
    - Graduated from the information technology college (March 2015)

    ### 2015-2017 First Job Experience

    - Joined a group company of the technical college as a contract employee (December 2015)
    - Left the company (February 2017)

    ### 2017-2019 Part-time at Catchup

    - Joined Catchup, Inc. as an assistant engineer (October 2017)
    - Participated in baserCMS community activities
    - Left Catchup, Inc. (August 2019)

    ### 2019-2023 First Full-time Position at GMO Pepabo

    - Joined GMO Pepabo, Inc. (September 2019)
    - Worked in the Hosting Division on development, maintenance, and operations for services including Lolipop!, MuuMuu Domain, heteml, and Osaipo!
    - Left GMO Pepabo, Inc. (March 2023)
            
    ### 2023-Present SmartHR

    - Joined SmartHR, Inc. (April 2023)
    - Present
  MARKDOWN
%>

<%= markdownify(content) %>
